extends ../layout

block content
  .page-header
    h1 Event List
  .list-group
    each event in events
      a.list-group-item(href="/events/" + event.id)
        h4.list-group-item-heading= event.name
        p.list-group-item-text #{moment(event.startTime).format('LLLL')} - #{moment(event.endTime).format('LLLL')}
